<h1>Employees#Reports</h1>
<p>Find me in app/views/users/employees_report.html.erb</p>

<table id="datatable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Total Clients</th>
      <th>Total Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td>
          <%= employee.name %>
        </td>
        <td>
          <%= employee.clients.size %>
        </td>
        <td>
          P <%= number_with_precision(employee.total_sales, :precision => 2, :delimiter => ',') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
