<h1> List of user types </h1>
<hr>
<ul>
  <li>
    <h4>
    <%= link_to employees_path do %>
      Employees
    <% end %>
    </h4>
  </li>
  <li>
    <h4>
    <%= link_to managers_path do %>
      Managers
    <% end %>
    </h4>
  </li>
  <li>
    <h4>
    <%= link_to owners_path do %>
      Owners
    <% end %>
    </h4>
  </li>
</ul>
