<h1 class="text-capitalize"><%= "#{@manager.last_name}, #{@manager.first_name}" %></h1>

<div class="pull-right">
  <% if can? :edit, @user %>
  <%= link_to edit_user_path(@user) do %>
  <button class='btn btn-primary btn-sm' role='button'>
    <i class='glyphicon glyphicon-edit'></i>
    Edit Profile
  </button>
  <% end %>
  <% end %>

  <% if can? :change_password, @user %>
  <%= link_to change_password_path(@user) do %>
  <button class='btn btn-warning btn-sm' role='button'>
    <i class='glyphicon glyphicon-remove'></i>
    Change Password
  </button>
  <% end %>
  <% end %>
</div>
<hr>

<h3><%= @manager.email %></h3>
<hr>
<hr>
