<footer class="footer">
  <div class="container">
    <hr class="alert-primary">
    <p class="pull-right"><a href="#" class="text-muted"><span class="glyphicon glyphicon-chevron-up"
                                                               aria-hidden="true"></span> Back to top</a></p>
  </div>
</footer>
