
<p>
<br>
  <div class="row" id="main-logo">
      <i class="custom-imgt_logo" id="main-page-logo"></i><br>
      <h3>I-Mgt Tax Accounting Finance and Consulting</h3>
  </div>

<div class="col-md-5">
  Its short-term goal is:
 <blockquote>
<em>
  "To provide clients with peace of mind, by minimizing their tax exposure and assist them in adhering to all government tax laws."
</em>
 </blockquote>

  <p class="lead text-right">It was able to gain about 50 clients on its first and second year of practice. Now it has about 350 clients and employs 6 regular employees and 3 junior CPAs. Its main headquarters is located in Imperial Subdivision, Molo, Iloilo City while its satellite office is in Book Latte, Robinsons Place - Iloilo, De Leon Street, Iloilo City.</p>

  While its long-term goal is to help all its clients in:
  <blockquote>
    <em>
      "Wealth-building, succession planning and legacy creation."
    </em>
  </blockquote>
</div>
<div class="col-md-6">
  <p class="lead text-left">I-Mgt TAFC was founded in April 1, 2004 in Iloilo City Philippines by Cristina Estorque Gemora, a graduate of the University of the Philippines in the Visayas, of B.S. Accountancy. While starting this company, she underwent training in Santa Rita Accounting Firm and Armada Audit Firm. I-Mgt TAFC then focused on helping small businesses in their tax reports and governmental requirements. She is active in Association of CPAs in Public Practice (ACPAPP), ACPAE and PICPA organizations and has Board of Accountancy and BIR accreditations. She focuses on helping SMEs increase their net worth and advocates in their rights and privileges.</p>


  <p class="lead text-left">It offers full-service to clientele ranging from DTI processing to BIR tax case handling and representation.</p>

</div>
</p>
