<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>I-Mgt TAFC was founded in April 1, 2004 in Iloilo City Philippines by Cristina Estorque Gemora, a graduate of the University of the Philippines in the Visayas, of B.S. Accountancy. While starting this company, she underwent training in Santa Rita Accounting Firm and Armada Audit Firm. I-Mgt TAFC then focused on helping small businesses in their tax reports and governmental requirements. She is active in Association of CPAs in Public Practice (ACPAPP), ACPAE and PICPA organizations and has Board of Accountancy and BIR accreditations. She focuses on helping SMEs increase their net worth and advocates in their rights and privileges.

It was able to gain about 50 clients on its first and second year of practice. Now it has about 350 clients and employs 6 regular employees and 3 junior CPAs. Its main headquarters is located in Imperial Subdivision, Molo, Iloilo City while its satellite office is in Book Latte, Robinsons Place - Iloilo, De Leon Street, Iloilo City.

It offers full-service to clientele ranging from DTI processing to BIR tax case handling and representation. Its short-term goal is:

"To provide clients with peace of mind, by minimizing their tax exposure and assist them in adhering to all government tax laws."

While its long-term goal is to help all its clients in:

" Wealth-building, succession planning and legacy creation."

List of valued clients from various industry:

1. AAJ Glassworks in Jaro, Iloilo City since 2004

2. RSC Trucking in Pavia since 2005

3. CSU Marketing Corporation in Pavia since 2006

4. Golden Republic Construction and Supply in Iloilo City since 2007

5. JLC Trucking in Arevalo, Iloilo City since 2010

6. PPI Cargo in Mandurriao, Iloilo City since 2010

7. JEG Construction Firm in Jaro, Iloilo City since 2010

8. BG Olivar Buildings in Iloilo since 2010

9. Republic Aggregates and Concrete Enterprise in Sta. Barbara since 2011

10. Jester Food Products in Molo, Iloilo City since 2012

11. MRJC Beup Engineering Services in Jaro, Iloilo City since 2012

12. KFC Commissaries in Cebu, Bohol, Iloilo, Bacolod and Dumaguete since 2013</p>
