* {
  margin: 0;
}
html, body {
  height: 100%;
  font-size: 100%;
}
body {
  padding-top: 70px;
}
.container {
  min-height: 100%;
  margin-bottom: -60px;
}
.container:after {
  content: '';
  display: block;
}
.footer, .container:after {
  height: 60px;
}
.pagination-container {
  text-align: center;
}
.login-panel {
  margin-right: 10%;
  margin-left: 10%;
}


.login-body {
  background-color: #F8F8F8;
}
.pagination-container {
  text-align: center;
}
.login-body {
  background-color: #F8F8F8;
}
.form-group {
  display: flex;
  height: 55px;
}
.control-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
}
.control-label-textarea {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
}
.inputAddressTextArea {}
;
.control-label-textarea {}
;
.form-group.focused .control-label {
  opacity: 1;
  transform: scale(0.75);
}
.form-control {
  align-self: flex-end;
}
.form-control::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}
.form-control:focus::-webkit-input-placeholder {
  transition: none;
}
.form-group.focused .form-control::-webkit-input-placeholder {
  color: #bbb;
}
.custom-imgt_logo {
  font-size: 2em;
  line-height: 50%;
}
#main-page-logo {
  text-align: center;
  color: #B2DBFB;
  -webkit-text-stroke: 4px #2196F3;
  font-size: 10em;
}
#main-logo {
  text-align: center;
}
#main-content {
  margin-left: 2.5%;
  margin-right: 2%;
}

/**/


/*
 * Style tweaks
 * --------------------------------------------------
 */

footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428BCA;
}

.active-tab {
  background-color:#428BCA ;
}

.active-tab > a {
  color: #fff;
}

.list-group panel.active {
  background-color:#428BCA;
}

.child {
  background-color: #F5F5F5;
  color: #2196F3;

}
