* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-size: 100%;
}
body {
  padding-top: 70px;
}

body {
  padding-top: 70px
}

body {
  padding-top: 70px
}
.container {
  min-height   : 100%;
  margin-bottom: -60px;
}
.container:after {
  content: '';
  display: block;
}
.footer,
.container:after {
  height: 60px;
}
.pagination-container {
  text-align: center;
}
.login-panel {
  margin-top: 25%;
}
.login-body {
  background-color: #F8F8F8;
}
.pagination-container {
  text-align: center;
}
.login-panel {
  margin-top: 25%;
}
.login-body {
  background-color: #F8F8F8;
}


.form-group {
    display: flex;
    height: 55px;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}
.control-label-textarea {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}
.inputAddressTextArea{

};

.control-label-textarea{

};

.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

.custom-imgt_logo {
  font-size: 2em;
   line-height: 50%;

}
