// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ownertext {
  color: #18bc9c;
}
.managertext {
  color: #e74c3c;
}
.employeetext {
  color: #3498db;
}

#new_user input.error
{
	background-color: pink;
	background-position: 379px 3px;
	outline: none;
}
#new_user input.required
{
	background-color: #ed2d2d;
	background-position: 379px -29px;
}
#new_user input.valid
{
	background-color: #fff;
	background-position: 379px -61px;
}
#new_user input:required:valid
{
	background-color: #fff;
	background-position: 379px -61px;
}
