<!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Payment Form</h3>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h5>Billing Number:</h5>
          </div>
          <div class="col-md-8">
            <h5 class="pull-right">
              #<%= @transaction.billing_num%></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5>Total:</h5>
          </div>
          <div class="col-md-8">
            <h5 class="pull-right">
              Php
              <%= @transaction.total_balance%></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h5>Remaining Balance:</h5>
          </div>
          <div class="col-md-8">
            <h5 class="pull-right">
              Php
              <%= @transaction.remaining_balance %></h5>
          </div>
        </div>
      </div>
      <%= render partial: 'paymentform', locals: {form_model: @provisional_receipt, a: client_transaction_pay_path(@transaction.client_id, @transaction.id)} %>


      <!-- end form for payments -->
    </div>

  </div>
