<h1>Transactions#index</h1>
<p>Find me in app/views/transactions/index.html.erb</p>
<table id="transactions-datatable" class="table table-hover table-striped" >
<thead>
  <tr>
    <th><h5>Name</h5></th>
    <th><h5>Description</h5></th>
    <th><h5>Type</h5></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      hehe
    </td>
    <td>
      hphp
    <td>
      hehehe
    </td>
  </tr>
</tbody>
</table>

<button class="btn btn-primary btn-md btn-block" id="addRow"> add row</button>
