<h1 class="text-capitalize">  Transactions </h1>
<hr>
<table class="table table-hover table-striped" id="transactions-datatable">
  <thead>
    <tr>
      <th>Billing Number</th>
      <th>Client Name</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th style="width: 30px"></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td class="text-capitalize">
        # <%= "#{transaction.billing_num}" %>
      </td>
      <td class="text-capitalize">
      <%= "#{transaction.client.company_name}" %>
    </td>
      <td>
        P<%= transaction.total_balance %>
      </td>
      <td>
        <% if transaction.pending? %>
          <button type="button" class="btn btn-danger">Pending</button>
        <% else %>
          <button type="button" class="btn btn-success">Paid</button>
        <% end %>
      </td>
      <td>
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
            Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="text-info">
                <%= link_to transaction_path(transaction.client_id, transaction.id) do %>
                <i class='glyphicon glyphicon-briefcase text-info'></i> Details
                <% end %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
