<h1>Transactions#show</h1>
<p>Find me in app/views/transactions/show.html.erb</p>

<div>
  <div class="col-md-10">
        <h3><em>Transaction Details</em></h3>
        <div>
            <% @transaction.get_fees.each do |name, value| %>
              <h6><%= name %>: <%= value || 0 %></h6>
            <% end %>

            <strong><h3>Total: Php <%= @transaction.total_balance%></h3></strong>
        </div>
  </div>
</div>
