<h1> List of available reports </h1>
<ul>
  <li>
    <h4>
    <%= link_to reports_accounts_receivable_path do %>
      Accounts Receivable Reports
    <% end %>
    </h4>
  </li>
  <li>
    <h4>
    <%= link_to reports_employees_report_path do %>
      Employees Reports
    <% end %>
    </h4>
  </li>
  <li>
    <h4>
    <%= link_to reports_transactions_report_path do %>
      Transactions Reports
    <% end %>
    </h4>
  </li>
</ul>
