<h1>Reports#services_report</h1>
<p>Find me in app/views/reports/services_report.html.erb</p>

<table id="reports-datatable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Services Availed</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
          <%= client.company_name %>
        </td>
        <td>
          <% client.services.each do |name, count| %>
            <ul>
              <li><%= name %>: - <%= count %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
